body {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
}

button {
    background-color: white;
    z-index: 999999;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    padding: .3vw 1vw;
    margin-top: 0;
    margin-left: 1.25vw;
    position: relative;
    top: -1.875vw;
}

button:hover {
    background-color: #eeeeee;
}

button.childFrame {
    margin-top: 0;
    position: absolute;
    right: 1.25vw;
    top: 2.5vw;
    height: auto;
    background-color: #91a7ff;
}

button.childFrame:hover {
    margin-top: 0;
    position: absolute;
    right: 1.25vw;
    top: 2.5vw;
    height: auto;
    background-color: #455ede;
    color: white;
}

div.page {
    background-color: white;
    box-shadow: 1vw 1vw .5vw grey;
    width: 80vw;
    height: 75vh;
    box-sizing: border-box;
    padding: 1.25vw 5%;
    border: 1px solid white;
    border-radius: 1.25vw;
    font-size: 1.3vw;
    position: relative;
    margin: 1.25vw auto;
}

div.notes {
    box-sizing: border-box;
    height: 20vh;
    width: 80vw;
    padding: 1.25vw 5%;
    margin: 0 auto;
    background-color: #e6e6e6;
    box-shadow: 1vw 1vw .5vw grey;
    border-radius: 1.25vw;
}

div.notes pre {
    font-size: 1.3vw;
}

.pageTitle {
    margin: 0;
    padding: 0;
    height: 3.125vw;
}
.pageContent {
    margin: 0;
    padding: 0;
    height: calc(90% - 5.625vw);
}
.lonely {
    height: calc(90% - 2.5vw);
}

.pageFoot {
    padding: 0;
    margin: 0;
    font-size: small;
    position: absolute;
    bottom: 1.25vw;
    right: 5%;
    text-align: right;
}

.pageContent img,
.pageContent p > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 60vw;
    max-height: 50vh;
}

.pageContent p {
    max-width: 100%;
    max-height: 100%;
}

li,p,span,b,i,strike {
    font-size: 1.3vw;
}

.lonely > h1 {
    font-size: 3.75vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2em;
}

pre[class*="language-"] {
    max-height: 50%;
    overflow: auto;
}

.firstPage > .pageContent,
.lastPage > .pageContent {
    position: relative;
    height: auto;
    top: 33%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 75%;
    font-size: 1.625vw;
}

.slideTitle h1 {
    margin: 0;
    padding: 0;
    font-size: 3.125vw;
}

.authorName {
    margin-top: 1.25vw;
}

.lastPage .authorName {
    margin: 0;
}

.lastPage .authorMail {
    font-size: 1.25vw;
    margin-bottom: 1vw;
}

.firstPage p,
.lastPage p {
    margin: 0;
    padding: 0;
}
