body {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
}

button {
    background-color: white;
    z-index: 999999;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    padding: 3px 10px;
    margin-top: 0;
    margin-left: 1em;
    top: -1.5em;
    position: relative;
}

button:hover {
    background-color: #eeeeee;
}

button.childFrame {
    margin-top: 0;
    position: absolute;
    right: 1em;
    top: 2em;
    height: auto;
    background-color: #91a7ff;
}

button.childFrame:hover {
    margin-top: 0;
    position: absolute;
    right: 1em;
    top: 2em;
    height: auto;
    background-color: #455ede;
    color: white;
}

div.page {
    background-color: white;
    box-shadow: 10px 10px 5px grey;
    width: 80vw;
    height: 75vh;
    box-sizing: border-box;
    padding: 1em 5%;
    margin: 1em auto;
    border: 1px solid white;
    border-radius: 1em;
    font-size: x-large;
    position: relative;
}

div.notes {
    box-sizing: border-box;
    height: 20vh;
    width: 80vw;
    padding: 1em 5%;
    margin: 0 auto;
    background-color: #e6e6e6;
    box-shadow: 10px 10px 5px grey;
    border-radius: 1em;
}

div.notes pre {
    font-size: x-large;
}

.pageTitle {
    margin: 0;
    padding: 0;
    height: 2.5em;
}
.pageContent {
    margin: 0;
    padding: 0;
    height: calc(90% - 4.5em);
}
.lonely {
    height: calc(90% - 2em);
}

.pageFoot {
    padding: 0;
    margin: 0;
    font-size: small;
    position: absolute;
    bottom: 1em;
    right: 5%;
    text-align: right;
}

.pageContent > img,
.pageContent > p > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: inherit;
    width: auto;
}

li,p,span,b,i,strike {
    font-size: x-large;
}

.lonely > h1 {
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2em;
}

pre[class*="language-"] {
    max-height: 50%;
    overflow: auto;
}

.firstPage > .pageContent,
.lastPage > .pageContent {
    position: relative;
    height: auto;
    top: 33%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 75%;
    font-size: 1.3em;
}

.slideTitle h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

.authorName {
    margin-top: 1em;
}

.lastPage .authorName {
    margin: 0;
}

.lastPage .authorMail {
    font-size: 1em;
    margin-bottom: 10px;
}

.firstPage p,
.lastPage p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1440px) {
    div.page {
	box-shadow: 8px 8px 4px grey;
	padding: 0.9em 5%;
	border-radius: 0.75em;
	font-size: x-large;
    }

    .pageTitle {
	height: 2.5em;
    }
    .pageContent {
	height: calc(90% - 4.5em);
    }
    .lonely {
	height: calc(90% - 2em);
    }

    .pageFoot {
	font-size: small;
    }

    li,p,span,b,i,strike {
	font-size: x-large;
    }

    .lonely > h1 {
	font-size: 2.2em;
    }

    h1 {
	font-size: 1.9em;
    }

    .firstPage > .pageContent,
    .lastPage > .pageContent {
	font-size: 1em;
    }

    .slideTitle h1 {
	font-size: 1.9em;
    }

    .authorName {
	margin-top: 0.6em;
    }

    .lastPage .authorMail {
	font-size: 1em;
    }

    .authorNotes {
	font-size: 0.6em;
    }

    div.notes {
	padding: 0.75em 5%;
	box-shadow: 8px 8px 4px grey;
	border-radius: 0.75em;
    }
    
    div.notes pre {
	font-size: x-large;
    }
}

@media screen and (max-width: 1080px) {
    div.page {
	box-shadow: 6px 6px 3px grey;
	padding: 0.7em 5%;
	border-radius: 0.5em;
	font-size: large;
    }

    .pageTitle {
	height: 2em;
    }
    .pageContent {
	height: calc(90% - 3.5em);
    }
    .lonely {
	height: calc(90% - 1.5em);
    }

    .pageFoot {
	font-size: x-small;
    }

    li,p,span,b,i,strike {
	font-size: large;
    }

    .lonely > h1 {
	font-size: 2em;
    }

    h1 {
	font-size: 1.7em;
    }

    .firstPage > .pageContent,
    .lastPage > .pageContent {
	font-size: 0.8em;
    }

    .slideTitle h1 {
	font-size: 1.7em;
    }

    .authorName {
	margin-top: 0.5em;
    }

    .lastPage .authorMail {
	font-size: 0.8em;
    }

    .authorNotes {
	font-size: 0.5em;
    }

    div.notes {
	padding: 0.5em 5%;
	box-shadow: 6px 6px 3px grey;
	border-radius: 0.5em;
    }
    
    div.notes pre {
	font-size: large;
    }
}